*{
  margin: 0px;
}

 /* Basic styling */
 body {
   font-family: Arial, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   margin: 0;
   background-color: #f2f2f2;
 }



.nav{
 display: flex;
  background-color: darkred;
  color: white;
  height: 50px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  
}
p{
  margin: 10px;
  text-align: center;
}
 .comparison-container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 80%;
   max-width: 800px;
   background-color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   padding: 20px;
   border-radius: 8px;
   margin-top: 50px;
 }

 .image-box {
   text-align: center;
   width: 45%;
 }

 .image-box img {
   width: 100%;
   height: auto;
   border:2px solid black;
   border-radius: 5px;
   cursor: pointer;
   transition: transform 0.3s;
 }

 .image-box img:hover {
   transform: scale(1.05);
 }
